@import './base.css';

#app {
  padding: 2rem;
}

.width-1-1 {
  width: 100%;
  max-width: 1200px;
  display: inline-block;
}

.uk-card {
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);

  /* animation */
  opacity: 0.9;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.uk-button {
  border-radius: 10px;
}

.uk-card:hover {
  transform: scale(1.04, 1.04);
  opacity: 0.95;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.uk-card img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.color-rainbow {
  animation: color-change 5s infinite;
}

.background-rainbow {
  animation: background-color-change 5s infinite;
}

.border-rainbow {
  animation: border-color-change 5s infinite;
}

@keyframes background-color-change {
  0% {
    background-color: #fd18927a;
  }

  25% {
    background-color: #2c90fc7a;
  }

  50% {
    background-color: #b8fd337a;
  }

  75% {
    background-color: #fec8377a;
  }

  100% {
    background-color: #fd18927a;
  }
}

@keyframes color-change {
  0% {
    color: #fd1892;
  }

  25% {
    color: #2c90fc;
  }

  50% {
    color: #b8fd33;
  }

  75% {
    color: #fec837;
  }

  100% {
    color: #fd1892;
  }
}

@keyframes border-color-change {
  0% {
    border: 1px solid #fd1892;
  }

  25% {
    border: 1px solid #2c90fc;
  }

  50% {
    border: 1px solid #b8fd33;
  }

  75% {
    border: 1px solid #fec837;
  }

  100% {
    border: 1px solid #fd1892;
  }
}

.btn-gradient-border {
  color: white;
  border: 5px double transparent;
  background-image: linear-gradient(rgba(13, 14, 33, 0), rgba(13, 14, 33, 0)),
    radial-gradient(circle at left top,
      rgb(1, 110, 218) 0%,
      rgb(217, 0, 192) 51%,
      rgb(1, 110, 218) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 20px;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn-gradient-border:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.golden-gradient {
  background: linear-gradient(120deg, #fff8d8e0 20%, #fff8d8e0 40%, #f5eabae0 50%, #f5eabae0 55%, #fff8d8e0 70%, #fff8d8e0 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
  box-shadow: 0 0 20px rgba(255, 247, 175, 0.5);
}

.default-gradient {
  background: linear-gradient(120deg, #ffffffe0 20%, #ffffffe0 40%, #ffffff 50%, #ffffff 55%, #ffffffe0 70%, #ffffffe0 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}

.rotate {
  transform: rotate(-5deg);
}

/*Begin shimmer code*/

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/*
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
*/